<!-- Blog Content -->
<div *ngIf="showMyBlogs" class="div_blog_content">
  
  <!-- Ordered blogs ( order can be - latest, popular, etc.. ) -->
  <div class="div_ordered_blogs">
    <span class="pull-right">
      <button class="btn btn-primary" (click)="addBlogClicked()">&#10133; Add</button>
    </span>
    
    <div class="div_blog_order_descriptor">
      My Popular Blogs
    </div>
    <ul>
      <li *ngFor="let blog of myBlogsPopularFirst">
        <app-blog [blog]="blog"></app-blog>
      </li>
    </ul>
    
    <div class="div_blog_order_descriptor">
      My Latest Blogs
    </div>
    <ul>
      <li *ngFor="let blog of myBlogsLatestFirst">
        <app-blog [blog]="blog"></app-blog>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="!showMyBlogs">
  <div class="div_vertical_center_text"><h2>{{componentMessage}}</h2></div>
</div>
