<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/home">Nagarro Blogs</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="nav navbar-nav">
        <li><a routerLink="/home">Home</a></li>
        <li><a [routerLink]="['/categories']" [queryParams]="{}">Categories</a></li>
        <li *ngIf="getCurrentUser()"><a routerLink="/myblogs">My Blogs</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter keywords"
          [(ngModel)]="searchKeyword"
          [ngModelOptions]="{ standalone: true }"
          >
        </div>
        <button type="submit" class="btn btn-default" (click)="searchBtnClicked()">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!getCurrentUser()"><a routerLink="/login">Log In</a></li>
        <li *ngIf="!getCurrentUser()"><a routerLink="/signup">Sign Up</a></li>
        
        <li *ngIf="getCurrentUser()" class="dropdown" style="margin-right: 20px">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hi {{getCurrentUser().username}}<span class="caret" style="margin-left: 10px"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/myblogs">Your blogs</a></li>
            <li><a routerLink="/myfavblogs">Favourites</a></li>
            <li><a routerLink="/addblog">New Blog</a></li>
            <li role="separator" class="divider"></li>
            <li><a routerLink="/logout">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
